<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} appName=[api-template] level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="akka.io" level="ERROR" />
    <logger name="akka://mongodb-akka" level="INFO" />
    <logger name="org.mongodb.driver" level="ERROR" />
    <logger name="org.eclipse.jetty" level="ERROR"/>
    <logger name="akka.actor.CoordinatedShutdown" level="ERROR"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
